# This is an example properties file. To use this file:
# 1 - copy and rename it to secrets.properties
# 2 - fill in all the placeholder text underneath
# 3 - ???
# 4 - profit
# secrets.properties has been added to the .gitignore file, so you can edit it without messing up your git commits.

# Also for the love of god never ever use this strategy in a production environment, use spring cloud config!

app.youtube.key=#YOUR_KEY_HERE#