<div>
  <h1>Top 10 Movie list from IMDB!</h1>
  <h2>{{errorMsg}}</h2>
</div>

<div>
  <ul *ngFor="let movie of movies" >
    <h2 style="color:white;">
      <a [routerLink]="movie.id">
        {{movie.title}} {{movie.year}}
      </a>
    </h2>
  </ul>
</div>



<div class="container">
  <div class="row">
    <div class= "col-lg-3 col-md-4 col-sm-12" *ngFor="let movie of movies">
      <div class="card" [routerLink]="movie.id" >
          <img class="card-img-top img-fluid" src="http://i3.ytimg.com/vi/erLk59H86ww/hqdefault.jpg" alt="Card image cap">
          <div class="card-body">
              <h4 class="card-title" >{{movie.title}}</h4>
              <p class="card-text">awsome shit</p>
          </div>
      </div>
    </div>
  </div>
</div>
