/* bootstrap ****************************/
/* edit bootstrap variables here */
@import '~bootstrap/scss/bootstrap';

/* global styles ************************/

html, body{
    //background-color: black !important; 
    //background-color: rgba(0, 0, 0, 1) !important;
    background-image: url(./../image/Netflix-Background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    
}

