

nav{
        
         
   &.bg-dark{
       background-color: black !important;
   }  
   
    a{
        color: white; 
       
        &.navbar-brand{
            color: red;
            font-size: 30px;
            font-weight: 900;        
        
        } 
    }
}






